<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
<p>Bonjour <%= @resource.email %>!</p>
</div>
<div class="panel-body">
<p>Une personne a demandé à changer de mot de passe, cliquer sur le lien ci-dessous</p>
</div>
<div class="panel-footer">
<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Si ce n'est pas vous, veuillez ignorer ce message.</p>
</div>

</div>